<%- layout('../views/layouts/boilerplate.ejs') %>

<div class="row">
    <div class="col-6 offset-3">
        <div class="alert alert-danger mx-5 mt-5" role="alert">
            <h4 class="alert-heading">DANGER - YOU DONE MESSED UP</h4>
            <p> 
                <%= err.message %> 
            </p>
            <p>
                <%= err.stack %> 
            </p>
            <hr>
            <p class="mb-0">Better luck next time.</p>
        </div>
    </div>
</div>